// Color Variables
$color-primary: #00ca83;
$color-secondary: #fca440;
$color-tertiary: #18cdf7;
$color-quatemary: #b455c8;
$color-highlited: #FF4E51;
$color-serenity: #4E80FF;
$text-color: #6d7073;
$text-dark: #2e2e2e;
$text-muted: #aaaab2;
$body-color: #f2f5fa;
$border-color: #e5e5e5;
$black: #000;
$dark: #263B48;
$white: #fff;
$light: rgba($white, 0.7);

// Font Variables
$font-size: 1rem;
$font-primary: "Proxima Nova Rg", sans-serif;
$font-primary-bold: "Proxima Nova Bold", sans-serif;
$font-secondary: sans-serif;
