<header class="navigation navigation-8 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-xl navbar-dark py-0">
          <!-- brand logo -->
          <a class="navbar-brand" href="/">
            <img src="images/navigation/logo-8.png" alt="Logo">
          </a>

          <!-- social links -->
          <ul class="list-unstyled mb-0 d-none d-md-block d-xl-none ms-auto me-3">
            <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-linkedin"></i></a></li>
          </ul>

          <!-- navbar toggler -->
          <button class="navbar-toggler p-0 border-0 shadow-none me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navigation-8" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="nav-toggler-icon" viewBox="0 0 100 100"><path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" /><path class="line middle" d="m 70,50 h -40" /><path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" /></svg>
          </button>

          <!-- navigation menu -->
          <div class="collapse navbar-collapse" id="navigation-8">
            <ul class="navbar-nav mx-auto my-3 my-lg-0 text-uppercase">
              <li class="nav-item">
                <a class="nav-link active" href="#">Budgeting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Credit Cards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Banking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Investing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Taxes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Loans</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                  <li><a class="dropdown-item" href="#">Budgeting</a></li>
                  <li><a class="dropdown-item" href="#">Credit Cards</a></li>
                  <li><a class="dropdown-item" href="#">Banking</a></li>
                </ul>
              </li>
            </ul>

            <!-- social links -->
            <ul class="list-unstyled mb-4 mb-md-0 d-block d-md-none d-xl-block ms-n1 me-md-n2 position-relative" style="z-index:5">
              <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-white d-block p-2"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>