<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Latest News 08</h2>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-xl-4 col-lg-6">
        <article class="card overflow-hidden border-0 bg-dark text-white h-100 floating-element-block position-relative">
          <img src="images/blog/blog-v8/thumb-1.jpeg" class="card-img h-100 w-100" alt="blog thumb">
          <a href="blog-single.html" class="position-absolute top-right">
            <span class="badge badge-primary text-uppercase rounded-1 mb-3 ">Investing</span>
          </a>
          <div class="d-flex align-items-end card-img-overlay">
            <div class="p-1 p-lg-2">
              <h3 class="card-title mb-0">
                <a href="blog-single.html" class="text-black d-block">
                  Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
                </a>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="row gy-5">
          <div class="col-lg-12 col-md-6">
            <article class="card shadow overflow-hidden border-0 bg-dark text-white floating-element-block position-relative">
              <img src="images/blog/blog-v8/thumb-2.jpeg" class="card-img" alt="blog thumb">
              <a href="blog-single.html" class="position-absolute top-right">
                <span class="badge badge-quatemary text-uppercase rounded-1 mb-3 ">Deposits</span>
              </a>
              <div class="d-flex align-items-end card-img-overlay bg-dark-overlay">
                <div class="p-1 p-lg-2">
                  <h3 class="card-title h4 mb-0">
                    <a href="blog-single.html" class="text-white d-block">
                      Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
                    </a>
                  </h3>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-12 col-md-6">
            <article class="card shadow overflow-hidden border-0 bg-dark text-white floating-element-block position-relative">
              <img src="images/blog/blog-v8/thumb-3.jpeg" class="card-img" alt="blog thumb">
              <a href="blog-single.html" class="position-absolute top-right">
                <span class="badge badge-quatemary text-uppercase rounded-1 mb-3 ">Deposits</span>
              </a>
              <div class="d-flex align-items-end card-img-overlay bg-dark-overlay">
                <div class="p-1 p-lg-2">
                  <h3 class="card-title h4 mb-0">
                    <a href="blog-single.html" class="text-white d-block">
                      Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
                    </a>
                  </h3>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="article-list bg-white p-4 rounded">
          <article class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="d-flex align-items-start justify-content-between">
                <div class="me-2">
                  <div class="d-flex align-items-center mb-2">
                    <img class="img-fluid me-2" src="images/blog/author/author-sm.jpeg" alt="author">
                    <p class="text-tertiary mb-0">John Doe</p>
                  </div>
                  <h3 class="card-title h6 mb-2">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                </div>
                <img class="rounded" src="images/blog/blog-v8/thumb-4.jpeg" alt="">
              </div>
            </div>
          </article>
          <article class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="d-flex align-items-start justify-content-between">
                <div class="me-2">
                  <div class="d-flex align-items-center mb-2">
                    <img class="img-fluid me-2" src="images/blog/author/author-sm.jpeg" alt="author">
                    <p class="text-tertiary mb-0">John Doe</p>
                  </div>
                  <h3 class="card-title h6 mb-2">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                </div>
                <img class="rounded" src="images/blog/blog-v8/thumb-5.jpeg" alt="">
              </div>
            </div>
          </article>
          <article class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="d-flex align-items-start justify-content-between">
                <div class="me-2">
                  <div class="d-flex align-items-center mb-2">
                    <img class="img-fluid me-2" src="images/blog/author/author-sm.jpeg" alt="author">
                    <p class="text-tertiary mb-0">John Doe</p>
                  </div>
                  <h3 class="card-title h6 mb-2">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                </div>
                <img class="rounded" src="images/blog/blog-v8/thumb-6.jpeg" alt="">
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>