<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Latest News 02</h2>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-12">
        <article class="card card-overlay-fluid shadow overflow-hidden border-0 bg-dark text-white">
          <img src="images/blog/blog-v2/thumb-1.jpg" class="card-img" alt="blog thumb">
          <div class="d-flex align-items-strat align-items-sm-end align-items-md-center card-img-overlay bg-gradient-dark">
            <div class="p-1 p-lg-6 w-50">
              <a href="blog-single.html">
                <span class="badge badge-tertiary text-uppercase small rounded-1 mb-3 ">Deposits</span>
              </a>
              <h3 class="card-title h4 mb-3">
                <a href="blog-single.html" class="text-white d-block">
                  Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
                </a>
              </h3>
              <p class="card-text">The major averages fell on Tuesday, following a strong start to May, with technology stocks experiencing the</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="card shadow overflow-hidden border-0 bg-dark text-white h-100">
          <img src="images/blog/blog-v2/thumb-2.jpg" class="card-img" alt="blog thumb">
          <div class="d-flex align-items-strat align-items-sm-end card-img-overlay bg-gradient-secondary">
            <div class="p-1 p-lg-3">
              <a href="blog-single.html">
                <span class="badge badge-secondary text-uppercase small rounded-1 mb-3 ">Deposits</span>
              </a>
              <h3 class="card-title h4 mb-3">
                <a href="blog-single.html" class="text-white d-block">
                  Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
                </a>
              </h3>
              <p class="card-text">The major averages fell on Tuesday, following a strong start to May, with technology stocks experiencing the</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-6">
        <article class="card shadow overflow-hidden border-0 bg-dark text-white h-100">
          <img src="images/blog/blog-v2/thumb-3.jpg" class="card-img" alt="blog thumb">
          <div class="d-flex align-items-end card-img-overlay bg-gradient-primary">
            <div class="p-1 p-lg-2">
              <a href="blog-single.html">
                <span class="badge badge-primary text-uppercase small rounded-1 mb-3 ">Investing</span>
              </a>
              <h3 class="card-title h6 mb-0">
                <a href="blog-single.html" class="text-white d-block">
                  Should you pay off your mortgage in retirement?
                </a>
              </h3>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-6">
        <article class="card shadow overflow-hidden border-0 bg-dark text-white mb-5">
          <img src="images/blog/blog-v2/thumb-4.jpg" class="card-img" alt="blog thumb">
          <div class="d-flex align-items-end card-img-overlay bg-gradient-tertiary">
            <div>
              <a href="blog-single.html">
                <span class="badge badge-tertiary text-uppercase small rounded-1 mb-3 ">Investing</span>
              </a>
              <h3 class="card-title h6 mb-0">
                <a href="blog-single.html" class="text-white d-block">
                  Should you pay off your mortgage in retirement?
                </a>
              </h3>
            </div>
          </div>
        </article>
        <article class="card card-overlay overflow-hidden border-0 bg-dark text-white">
          <img src="images/blog/blog-v2/thumb-4.jpg" class="card-img" alt="blog thumb">
          <div class="d-flex align-items-end card-img-overlay bg-gradient-quatemary">
            <div>
              <a href="blog-single.html">
                <span class="badge badge-quatemary text-uppercase small rounded-1 mb-3 ">Investing</span>
              </a>
              <h3 class="card-title h6 mb-0">
                <a href="blog-single.html" class="text-white d-block">
                  Should you pay off your mortgage in retirement?
                </a>
              </h3>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>