<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title mb-7">
          <h2>Latest News 10</h2>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-12">
        <ul class="nav nav-pills nav-pills-custom mb-7 border-2 border-bottom" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0 pt-0 active" id="pills-Investing-tab" data-bs-toggle="pill" data-bs-target="#pills-Investing" type="button" role="tab" aria-controls="pills-Investing" aria-selected="true">Investing</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0 pt-0" id="pills-Finance-tab" data-bs-toggle="pill" data-bs-target="#pills-Finance" type="button" role="tab" aria-controls="pills-Finance" aria-selected="false">Finance</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0 pt-0" id="pills-Morgage-tab" data-bs-toggle="pill" data-bs-target="#pills-Morgage" type="button" role="tab" aria-controls="pills-Morgage" aria-selected="false">Morgage</button>
          </li>
          <li class="nav-item ms-auto" role="presentation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"/></svg>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-Investing" role="tabpanel" aria-labelledby="pills-Investing-tab">
            <div class="article-list px-0">
              <article class="card bg-transparent border-0 h-100">
                <div class="row g-0 gy-5">
                  <div class="col-lg-8 order-1 order-lg-0">
                    <div class="d-flex flex-column px-0 h-100 me-0 me-lg-7">
                      <div class="card-body p-0">
                        <a href="#" class="badge badge-primary text-uppercase rounded-1 mb-3">Investing</a>
                        <h3 class="card-title h2 mb-5">
                          <a href="blog-single.html" class="text-dark d-block">
                            Should you pay off your mortgage in retirement? Experts weigh in on whether to cut that debt
                          </a>
                        </h3>
                        <p class="mb-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet...</p>
      
                        <div class="hstack gap-4">
                          <p class="text-muted text-uppercase mb-0">MON, MAY 3RD 2021</p>
                          <div class="vr"></div>
                          <a href="#" class="text-primary text-uppercase mb-0">JoHn doe</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 order-0 order-lg-1">
                    <a href="blog-single.html">
                      <img src="images/blog/blog-v10/thumb-1.jpeg" class="card-img h-100 w-100" alt="blog thumb">
                    </a>
                  </div>
                </div>
              </article>
              <article class="card bg-transparent border-0 h-100">
                <div class="row g-0 gy-5">
                  <div class="col-lg-8 order-1 order-lg-0">
                    <div class="d-flex flex-column px-0 h-100 me-0 me-lg-7">
                      <div class="card-body p-0">
                        <a href="#" class="badge badge-primary text-uppercase rounded-1 mb-3">Investing</a>
                        <h3 class="card-title h2 mb-5">
                          <a href="blog-single.html" class="text-dark d-block">
                            Should you pay off your mortgage in retirement? Experts weigh in on whether to cut that debt
                          </a>
                        </h3>
                        <p class="mb-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet...</p>
      
                        <div class="hstack gap-4">
                          <p class="text-muted text-uppercase mb-0">MON, MAY 3RD 2021</p>
                          <div class="vr"></div>
                          <a href="#" class="text-primary text-uppercase mb-0">JoHn doe</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 order-0 order-lg-1">
                    <a href="blog-single.html">
                      <img src="images/blog/blog-v10/thumb-2.jpeg" class="card-img h-100 w-100" alt="blog thumb">
                    </a>
                  </div>
                </div>
              </article>
              <article class="card bg-transparent border-0 h-100">
                <div class="row g-0 gy-5">
                  <div class="col-lg-8 order-1 order-lg-0">
                    <div class="d-flex flex-column px-0 h-100 me-0 me-lg-7">
                      <div class="card-body p-0">
                        <a href="#" class="badge badge-primary text-uppercase rounded-1 mb-3">Investing</a>
                        <h3 class="card-title h2 mb-5">
                          <a href="blog-single.html" class="text-dark d-block">
                            Should you pay off your mortgage in retirement? Experts weigh in on whether to cut that debt
                          </a>
                        </h3>
                        <p class="mb-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet...</p>
      
                        <div class="hstack gap-4">
                          <p class="text-muted text-uppercase mb-0">MON, MAY 3RD 2021</p>
                          <div class="vr"></div>
                          <a href="#" class="text-primary text-uppercase mb-0">JoHn doe</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 order-0 order-lg-1">
                    <a href="blog-single.html">
                      <img src="images/blog/blog-v10/thumb-3.jpeg" class="card-img h-100 w-100" alt="blog thumb">
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-Finance" role="tabpanel" aria-labelledby="pills-Finance-tab">
            <article class="card bg-transparent border-0 h-100">
              <div class="row g-0 gy-5">
                <div class="col-lg-8 order-1 order-lg-0">
                  <div class="d-flex flex-column px-0 h-100 me-0 me-lg-7">
                    <div class="card-body p-0">
                      <a href="#" class="badge badge-tertiary text-uppercase rounded-1 mb-3">Finance</a>
                      <h3 class="card-title h2 mb-5">
                        <a href="blog-single.html" class="text-dark d-block">
                          Should you pay off your mortgage in retirement? Experts weigh in on whether to cut that debt
                        </a>
                      </h3>
                      <p class="mb-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet...</p>
    
                      <div class="hstack gap-4">
                        <p class="text-muted text-uppercase mb-0">MON, MAY 3RD 2021</p>
                        <div class="vr"></div>
                        <a href="#" class="text-tertiary text-uppercase mb-0">JoHn doe</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 order-0 order-lg-1">
                  <a href="blog-single.html">
                    <img src="images/blog/blog-v10/thumb-2.jpeg" class="card-img h-100 w-100" alt="blog thumb">
                  </a>
                </div>
              </div>
            </article>
          </div>
          <div class="tab-pane fade" id="pills-Morgage" role="tabpanel" aria-labelledby="pills-Morgage-tab">
            <article class="card bg-transparent border-0 h-100">
              <div class="row g-0 gy-5">
                <div class="col-lg-8 order-1 order-lg-0">
                  <div class="d-flex flex-column px-0 h-100 me-0 me-lg-7">
                    <div class="card-body p-0">
                      <a href="#" class="badge badge-quatemary text-uppercase rounded-1 mb-3">Morgage</a>
                      <h3 class="card-title h2 mb-5">
                        <a href="blog-single.html" class="text-dark d-block">
                          Should you pay off your mortgage in retirement? Experts weigh in on whether to cut that debt
                        </a>
                      </h3>
                      <p class="mb-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet...</p>
    
                      <div class="hstack gap-4">
                        <p class="text-muted text-uppercase mb-0">MON, MAY 3RD 2021</p>
                        <div class="vr"></div>
                        <a href="#" class="text-quatemary text-uppercase mb-0">JoHn doe</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 order-0 order-lg-1">
                  <a href="blog-single.html">
                    <img src="images/blog/blog-v10/thumb-3.jpeg" class="card-img h-100 w-100" alt="blog thumb">
                  </a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>