<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Latest News 09</h2>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-12">
        <article class="card border-0 shadow h-100 p-4 floating-element-block position-relative overflow-hidden">
          <div class="row g-0 gx-lg-5">
            <div class="col-lg-4">
              <a href="blog-single.html">
                <img src="images/blog/blog-v9/thumb-1.jpeg" class="card-img h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="d-flex flex-column py-4 px-lg-5 py-lg-7 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-secondary text-uppercase rounded-1 mb-3">Deposits</a>
                  <h3 class="card-title h2 mb-5">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement? Experts weigh in on whether to cut that debt
                    </a>
                  </h3>
                  <p class="mb-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet...</p>

                  <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                </div>
              </div>
            </div>
          </div>
          <a href="blog-single.html" class="btn btn-primary rounded-0 position-absolute bottom-right py-2 px-5 py-sm-4 px-sm-7">Learn More</a>
        </article>
      </div>
      <div class="col-md-6">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-4">
              <a href="blog-single.html">
                <img src="images/blog/blog-v4/thumb-2.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="d-flex flex-column p-4 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-secondary text-uppercase small rounded-1 mb-3">Finance</a>
                  <h3 class="card-title h6 mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <div class="d-flex align-items-center">
                    <img class="img-fluid me-3" src="images/blog/author/author.jpeg" alt="author">
                    <div class="lh-sm">
                      <p class="text-black mb-0">Ivanna Martinez</p>
                      <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-4">
              <a href="blog-single.html">
                <img src="images/blog/blog-v4/thumb-3.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="d-flex flex-column p-4 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-primary text-uppercase small rounded-1 mb-3">Finance</a>
                  <h3 class="card-title h6 mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <div class="d-flex align-items-center">
                    <img class="img-fluid me-3" src="images/blog/author/author-2.jpeg" alt="author">
                    <div class="lh-sm">
                      <p class="text-black mb-0">Ivanna Martinez</p>
                      <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-4">
              <a href="blog-single.html">
                <img src="images/blog/blog-v4/thumb-4.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="d-flex flex-column p-4 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-quatemary text-uppercase small rounded-1 mb-3">Investing</a>
                  <h3 class="card-title h6 mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <div class="d-flex align-items-center">
                    <img class="img-fluid me-3" src="images/blog/author/author-3.jpeg" alt="author">
                    <div class="lh-sm">
                      <p class="text-black mb-0">Ivanna Martinez</p>
                      <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-4">
              <a href="blog-single.html">
                <img src="images/blog/blog-v4/thumb-5.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="d-flex flex-column p-4 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-tertiary text-uppercase small rounded-1 mb-3">Investing</a>
                  <h3 class="card-title h6 mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <div class="d-flex align-items-center">
                    <img class="img-fluid me-3" src="images/blog/author/author-4.jpeg" alt="author">
                    <div class="lh-sm">
                      <p class="text-black mb-0">Ivanna Martinez</p>
                      <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>