<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Latest News 03</h2>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-12">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-6">
              <a href="blog-single.html">
                <img src="images/blog/blog-v3/thumb-1.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-6">
              <div class="d-flex flex-column p-4 px-lg-5 py-lg-7 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-secondary text-uppercase small rounded-1 mb-3">Deposits</a>
                  <h3 class="card-title mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Pfizer plans to file for full FDA approval of Covid vaccine at the end of this month
                    </a>
                  </h3>
                  <p class="mb-1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet...</p>
                </div>
                <div class="card-footer p-0 pt-3 mt-5 bg-transparent">
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted text-uppercase">MON, MAY 3RD 2021</small>
                  <a class="text-muted text-uppercase small" href="#!">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14" class="align-text-top text-muted me-1"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M4 22a8 8 0 1 1 16 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"/></svg>John Doe</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-5">
              <a href="blog-single.html">
                <img src="images/blog/blog-v3/thumb-2.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-7">
              <div class="d-flex flex-column p-4 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-primary text-uppercase small rounded-1 mb-3">Investing</a>
                  <h3 class="card-title h6 mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <small class="text-muted text-uppercase mt-2">MON, MAY 3RD 2021</small>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-5">
              <a href="blog-single.html">
                <img src="images/blog/blog-v3/thumb-3.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-7">
              <div class="d-flex flex-column p-4 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-secondary text-uppercase small rounded-1 mb-3">Investing</a>
                  <h3 class="card-title h6 mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <small class="text-muted text-uppercase mt-2">MON, MAY 3RD 2021</small>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6">
        <article class="card border-0 shadow h-100">
          <div class="row g-0">
            <div class="col-lg-5">
              <a href="blog-single.html">
                <img src="images/blog/blog-v3/thumb-4.jpeg" class="card-img card-img-start h-100 w-100" alt="blog thumb">
              </a>
            </div>
            <div class="col-lg-7">
              <div class="d-flex flex-column p-4 h-100">
                <div class="card-body p-0">
                  <a href="#" class="badge badge-secondary text-uppercase small rounded-1 mb-3">Finance</a>
                  <h3 class="card-title h6 mb-3">
                    <a href="blog-single.html" class="text-dark d-block">
                      Should you pay off your mortgage in retirement?
                    </a>
                  </h3>
                  <small class="text-muted text-uppercase mt-2">MON, MAY 3RD 2021</small>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>