<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Latest News 07</h2>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-3">
        <div class="row gy-5">
          <div class="col-lg-12 col-md-6">
            <article class="card border-0 bg-transparent h-100">
              <a href="blog-single.html">
                <img src="images/blog/blog-v7/thumb-1.jpeg" class="card-img" alt="blog image">
              </a>
              <div class="card-body px-0 pb-0">
                <a href="#" class="badge badge-secondary text-uppercase rounded-1 mb-2 mt-1">Finance</a>
                <h3 class="card-title h6 mb-0">
                  <a href="blog-single.html" class="text-dark d-block">
                    Should you pay off your mortgage in retirement?
                  </a>
                </h3>
              </div>
            </article>
          </div>
          <div class="col-lg-12 col-md-6">
            <article class="card border-0 bg-transparent h-100">
              <a href="blog-single.html">
                <img src="images/blog/blog-v7/thumb-1.jpeg" class="card-img" alt="blog image">
              </a>
              <div class="card-body px-0 pb-0">
                <a href="#" class="badge badge-primary text-uppercase rounded-1 mb-2 mt-1">Investing</a>
                <h3 class="card-title h6 mb-0">
                  <a href="blog-single.html" class="text-dark d-block">
                    Should you pay off your mortgage in retirement?
                  </a>
                </h3>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <article class="card border-0 bg-transparent h-100">
          <a href="blog-single.html">
            <img src="images/blog/blog-v7/thumb-2.jpeg" class="card-img" alt="blog image">
          </a>
          <div class="card-body px-0 pb-0">
            <a href="#" class="badge badge-quatemary text-uppercase rounded-1 mb-2 mt-1">Finance</a>
            <h3 class="card-title mb-3">
              <a href="blog-single.html" class="text-dark d-block">
                Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
              </a>
            </h3>
            <p class="mb-1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
        </article>
      </div>

      <div class="col-lg-3">
        <div class="article-list ps-0">
          <article class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <h3 class="card-title mb-3">
                <a href="blog-single.html" class="text-dark d-block">
                  Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
                </a>
              </h3>
              <p class="mb-0">The major averages fell on Tuesday, following a strong start to May, with technology stocks experiencing the</p>
            </div>
          </article>
          <article class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <h3 class="card-title mb-3">
                <a href="blog-single.html" class="text-dark d-block">
                  Stocks decline after a solid start to May, Nasdaq drops 2% as tech shares lead losses
                </a>
              </h3>
              <p class="mb-0">The major averages fell on Tuesday, following a strong start to May, with technology stocks experiencing the</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>