<div class="ad-banner my-7">
  <div class="container">
    <div class="block">
      <div class="row align-items-center">
        <div class="col-md-4 order-3 order-md-1 text-end text-md-center align-self-end">
          <img class="img-fluid mike" src="images/ad-banner.png" alt="ad-banner">
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <div class="py-4">
            <h3>Our prices start from <strong>400 USD/month</strong></h3>
            <p>To find out more please leave a request and our team will contact you back</p>
          </div>
        </div>
        <div class="col-md-3 order-2 order-md-3 text-start text-md-center">
          <a href="#" class="btn btn-primary text-uppercase rounded-0 py-3 px-3 px-lg-4 lh-1">Get a Quote</a>
        </div>
      </div>
    </div>
  </div>
</div>