<section class="py-7 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-capitalize">
        <a class="btn btn-primary py-1 px-3 m-1" href="navigation.html">Navigation</a>
        <a class="btn btn-primary py-1 px-3 m-1" href="blog.html">Blog</a>
        <a class="btn btn-primary py-1 px-3 m-1" href="icon-set.html">Icon Set</a>
        <a class="btn btn-primary py-1 px-3 m-1" href="category.html">category</a>
        <a class="btn btn-primary py-1 px-3 m-1" href="single.html">single</a>
        <a class="btn btn-primary py-1 px-3 m-1" href="about.html">about</a>
        <a class="btn btn-primary py-1 px-3 m-1" href="404.html">404</a>
      </div>
    </div>
  </div>
</section>