.navigation-5 {
  .bg-black {
    background-color: #444 !important;
  }
  .nav-item {
    .nav-link {
      padding: 0.75rem 1.25rem;
      @include desktop-xl {
        padding: 0.75rem 1rem;
      }
      color: $white;
      &::before {
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: 2px;
        background-color: $color-secondary;
        transform: scaleX(0);
        @include desktop {
          display: none;
        }
      }
    }
    .nav-link.active,
    &:hover .nav-link {
      &::before {
        transform: scaleY(1);
      }
    }
  }
  .dropdown {
    .dropdown-item {
      padding: .5rem 1.25rem;
      &:active, &.active, &:focus {
        background-color: $color-secondary;
      } 
    }
    .dropdown-menu {
      border: 0;
      box-shadow: 0px 14px 21px #E4EFF9;
      @include desktop {
        box-shadow: none;
      }
    }
    @media (min-width:991px) {
      &:hover .dropdown-menu {
        margin-top: 0px;
      }
    }
  }
  @include desktop {
    position: relative;
    .search-warpper,
    .navbar-nav {
      position: relative;
      z-index: 2;
    }
    .nav-item {
      .nav-link.active,
      .nav-link {
        color: $white;
        padding-left: 0;
        padding-right: 0;
        &.active,
        &:focus,
        &:hover {
          color: $white;
          background-color: transparent;
          opacity: .8;
        }
      }
      &:not(:last-child) {
        .nav-link {
          border-bottom: 1px solid rgba($white, .5);
        }
      }
    }
  }

  // btn style
  .btn-variable {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $white;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background: darken($color-secondary, 5) !important;
      border-color: darken($color-secondary, 5) !important;
    }
    @include mobile {
      padding: 0.6rem 1rem;
    }
  }

  // search-warpper
  @media (min-width:991px) {
    .search-warpper {
      background: $color-primary;
      top: 50px;
      border-bottom-left-radius: 0;	
      border-bottom-right-radius: 0;
    }
  }
}